
@{
}

<div class="container">
        <h2 class="border-bottom">Editer un titre</h2>
        <form class="row">
            <div>
                <div class="row">
                    <div class="col-sm-3"><label>Nom de l'artiste</label></div>
                    <div class="col-sm-9"><input type="text" class="form-control" placeholder="Nom de l'artiste"></div>

                </div>
                <div class="row">
                    <div class="col-sm-3"> <label>Titre</label></div>
                    <div class="col-sm-9"> <input type="text" class="form-control" placeholder="Titre"></div>

                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Chronique</label></div>
                    <div class="col-sm-9"><textarea class="form-control" rows="3"></textarea></div>

                </div>
                <div class="row">
                    <div class="col-sm-3">Date sortie</div>
                    <div class="col-sm-3"><input type="text" class="form-control" placeholder="date de sortie"></div>
                    <div class="col-sm-2"><label>Durée en seconde</label></div>
                    <div class="col-sm-2 "><input type="number" /></div>
                    <div class="col-sm-2"><label class="input-group-text">Secondes</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Jaquette de l'album</label></div>
                    <div class="col-sm-9"><input type="text" class="form-control"></div>

                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Url d'écoute</label></div>
                    <div class="col-sm-9"> <input type="text" class="form-control" placeholder="Url d'écoute"></div>

                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Style</label></div>

                    <div class="col-sm-3">
                        
                        <input  type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                    </div>
                    <div class="col-sm-3">
                        
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                            <input type="checkbox">
                            <label for="horns">Horns</label>
                        
                    </div>
                    <div class="col-sm-3">
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                        <input type="checkbox">
                        <label for="horns">Horns</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
