@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="divSup">
	<h2>Supprimer un artiste</h2>
	<hr />
	<div>
		<p class="row ms-0">Etes-vous sûr de vouloir supprimer le titre "@Model.Titre.Libelle" de @Model.Titre.Artiste.Nom ?</p>
		<a asp-action="ValidSuppression" asp-route-id="@Model.Titre.IdTitre" class="btn btn-danger">Supprimer</a>

		<a class="row text-decoration-none ms-0" href="/administration/titre">Retour à l'administration des titres</a>
	</div>
</div>
