@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
	<div class="divSup">
	<h2>Editer un artiste</h2>
	<hr />

	<form class="formAdmin">
		<div class="mb-3 row">
			<label for="nomArtiste" class="col-sm-2 col-form-label">Nom de l'artiste<span style="color: red;">*</span></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nomArtiste" required placeholder="Nom de l'artiste" value="@Model.Artiste.Nom">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="biographieArtiste" class="col-sm-2 col-form-label">Biographie</label>
			<div class="col-sm-10">
				<textarea class="form-control" id="biographieArtiste" rows="3" required placeholder="Biographie de l'artiste">@Model.Artiste.Biographie</textarea>
			</div>
		</div>

		<div class="mb-3 row">
			<label class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<button type="button" class="btn btn-primary">Sauvegarder</button>
			</div>
		</div>
	</form>

	<a class="row text-decoration-none ms-0" href="/administration/artiste">Retour à l'administration des artistes</a>
</div>