@{

}
<div class="container p-0">
  <address>
    <h1>Contact</h1> 
    <p>C.U.C.D.B - DIIAGE <br /> 69 avenue Aristide Briand <br />21000 Dijon</p>
    <p><i class="fas fa-phone-alt"></i> 03 80 77 98 28 <br /> <a href="mailto:secretariat@cucdb.fr "><i class="fas fa-envelope"></i> secretariat@cucdb.fr</a></p>
  </address>

  <h2>Suivez-nous</h2>

  <section class="row p-3">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card contact bg-light">
        <div class="card-body">
          <a href="http://diiage.cucdb.fr/" target="_blank">
              <i class="fas fa-link fa-2x" style="color: blue;"></i>
              <p style="color: blue;">Site officiel du DIIAGE</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card contact bg-light">
        <div class="card-body">
          <a href="https://www.linkedin.com/company/diiage/?originalSubdomain=fr" target="_blank">
              <i class="fab fa-linkedin fa-2x" style="color: blue;"></i>
              <p style="color: blue;">Linkedin</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card contact bg-light">
        <div class="card-body">
          <a href="https://fr-fr.facebook.com/diiage/" target="_blank">
              <i class="fab fa-facebook fa-2x" style="color: blue;"></i>
              <p style="color: blue;">Facebook</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card contact bg-light">
        <div class="card-body">
          <a href="https://www.google.com/maps?channel=trow5&client=firefox-b-d&q=diiage&um=1&ie=UTF-8&sa=X&ved=2ahUKEwic6vawuur0AhUFyoUKHcRmCpwQ_AUoAXoECAIQAw" target="_blank">
              <i class="fas fa-map fa-2x" style="color: blue;"></i>
              <p style="color: blue;">Google Maps</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card contact bg-light">
        <div class="card-body">
          <a href="https://www.instagram.com/diiage.cucdb/?hl=fr" target="_blank">
              <i class="fab fa-instagram fa-2x" style="color: blue;"></i>
              <p style="color: blue;">Instagram</p>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="card contact bg-light">
        <div class="card-body">
          <a href="https://twitter.com/diiagecucdb" target="_blank">
              <i class="fab fa-twitter fa-2x " style="color: blue;"></i>
              <p style="color: blue;">Twitter</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>


