
@{
}


    <div class="container">
        <h2 class="border-bottom">Titres</h2>
        <a href="file:///C:/Users/Kriqx/Documents/Diiage_1/test/EditerTitre.html" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un nouvel titre </a>
        <table class="table">
            <thead>
              <tr>
                <th>Artiste</th>
                <th>Titre</th>
                <th>Durée</th>
                <th>Date sortie</th>
                <th><i class="fas fa-eye"></i></th>
                <th><i class="fas fa-thumbs-up"></i></th>
                <th><i class="fas fa-comments"></i></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-secondary">
                <th>µ-Ziq</th>
                <td>Tambor</td>
                <td>4:46</td>
                <td>09/03/2015</td>
                <td>9</td>
                <td>2</td>
                <td>0</td>
                <td style="color: blue;"><a href="file:///C:/Users/Kriqx/Documents/Diiage_1/test/EditerTitre.html"><i class="fas fa-edit"></i></a>     <a href=""><i class="fas fa-trash"></i></a> </td>
              </tr>
              <tr> 
                <th>100 String orchestra</th>
                <td>Whiplash</td>
                <td>3:35</td>
                <td>09/10/2017</td>
                <td>1</td>
                <td>5</td>
                <td>7</td>
                <td style="color: blue;"><a href=""><i class="fas fa-edit"></i></a>     <a href=""><i class="fas fa-trash"></i></a> </td>
              </tr>
              <tr class="table-secondary">
                <th>214</th>
                <td >The breakfeast Club</td>
                <td>7:11</td>
                <td>10/08/2002</td>
                <td>18</td>
                <td>5</td>
                <td>3</td>
                <td style="color: blue;"><a href=""><i class="fas fa-edit"></i></a>     <a href=""><i class="fas fa-trash"></i></a> </td>
              </tr>
              <tr> 
                <th>100 String orchestra</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>4:12</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td style="color: blue;"><a href=""><i class="fas fa-edit"></i></a>     <a href=""><i class="fas fa-trash"></i></a> </td>
              </tr>
              <tr class="table-secondary">
                <th>214</th>
                <td >Larry the Bird</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td style="color: blue;"><a href=""><i class="fas fa-edit"></i></a>     <a href=""><i class="fas fa-trash"></i></a> </td>
              </tr>
              <tr> 
                <th>100 String orchestra</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td style="color: blue;"><a href=""><i class="fas fa-edit"></i></a>     <a href=""><i class="fas fa-trash"></i></a> </td>
              </tr>
              <tr class="table-secondary">
                <th>214</th>
                <td >Larry the Bird</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td style="color: blue;"><a href=""><i class="fas fa-edit"></i></a>     <a href=""><i class="fas fa-trash"></i></a> </td>
              </tr>
            </tbody>
          </table>

    </div>
