@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	@model Webzine.WebApplication.Areas.Admin.ViewModels.ArtisteViewModel

}
<div class="mb-5">
	<h2>Créer un artiste</h2>
	<hr />

	<!-- formulaire de création d'un artiste -->
	<form class="formAdmin" method="post" asp-area="administration" asp-controller="artiste" asp-action="create">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="mb-3 row">
			<label for="nomArtiste" class="col-sm-2 col-form-label">Nom de l'artiste<span class="etoileRequired">*</span></label>
			<div class="col-sm-10">
				<input asp-for="@Model.Artiste.Nom" name="Artiste.Nom" aria-describedby="artisteCreate" type="text" class="form-control" id="nomArtiste" placeholder="Nom de l'artiste">
			</div>
			<span asp-validation-for="Artiste.Nom" class="text-danger"></span>
		</div>

		<div class="mb-3 row">
			<label for="biographieArtiste" class="col-sm-2 col-form-label">Biographie</label>
			<div class="col-sm-10">
				<textarea asp-for="@Model.Artiste.Biographie" name="Artiste.Biographie" aria-describedby="artisteCreate" class="form-control" id="biographieArtiste" rows="3" placeholder="Biographie de l'artiste"></textarea>
			</div>
		</div>

		<div class="mb-3 row">
			<label class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">Sauvegarder</button>
			</div>
		</div>
		
	</form>

	<!-- lien de retour vers la page Index de artiste admin -->
	<a class="row text-decoration-none ms-0" asp-action="Index">Retour à l'administration des artistes</a>
</div>