@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
	@model Webzine.WebApplication.Areas.Admin.ViewModels.ArtisteViewModel;

<div class="mb-5">
	<h2>Supprimer un artiste</h2>
	<hr />
	<div>
		<form asp-area="administration" asp-controller="artiste" asp-action="delete" asp-route-id="@Model.Artiste.IdArtiste" >
		<p class="row ms-0">Etes-vous sûr de vouloir supprimer l'artiste "@Model.Artiste.Nom" ?</p>

		<!-- lien de suppression de l'artiste -->
		<button type="submit" class="btn btn-danger">Supprimer</button>
		</form>
		<!-- lien de retour vers la page Index de artiste admin-->
		<a class="row text-decoration-none ms-0 mt-4" asp-action="Index">Retour à l'administration des artistes</a>
	</div>
</div>