@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="mb-5">
	<h2>Editer un artiste</h2>
	<hr />

	<!-- formulaire de modification d'un artiste -->
	<form class="formAdmin" method="post" asp-action="edit" asp-route-id="@Model.Artiste.IdArtiste">
		<div class="mb-3 row">
			<label for="nomArtiste" class="col-sm-2 col-form-label">Nom de l'artiste<span class="etoileRequired">*</span></label>
			<div class="col-sm-10">
				<input name="Artiste.Nom" aria-describedby="artisteEditer" type="text" class="form-control" id="nomArtiste" required placeholder="Nom de l'artiste" value="@Model.Artiste.Nom" />
			</div>
		</div>

		<div class="mb-3 row">
			<label for="biographieArtiste" class="col-sm-2 col-form-label">Biographie</label>
			<div class="col-sm-10">
				<textarea name="Artiste.Biographie" aria-describedby="artisteEditer" class="form-control" id="biographieArtiste" rows="3" required placeholder="Biographie de l'artiste">@Model.Artiste.Biographie</textarea>
			</div>
		</div>

		<div class="mb-3 row">
			<label class="col-sm-2 col-form-label"></label>
			<div class="col-sm-10">
				<button type="submit" class="btn btn-primary">Sauvegarder</button>
			</div>
		</div>
	</form>

	<!-- lien de retour vers la page Index de artiste admin -->
	<a class="row text-decoration-none ms-0" asp-area="administration" asp-controller="artiste" asp-action="Index">Retour à l'administration des artistes</a>
</div>