
@{
}

<address>
    <h1>Contact</h1> 

    <p>C.U.C.D.B - DIIAGE <br /> 69 avenue Aristide Briand <br />21000 Dijon</p>
    <p><i class="fas fa-phone-alt"></i> 03 80 77 98 28 <br /> <a href="mailto:secretariat@cucdb.fr "><i class="fas fa-envelope"></i> secretariat@cucdb.fr</a></p>
</address>



                    <i class="fas fa-envelope"></i><a href="mailto:secretariat@cucdb.fr ">secretariat@cucdb.fr</a>
                </div>
                <div class="row">
                    <h1 class="border-bottom">Suivez-Nous</h1>

                    <div class="col-sm-4">
                        <i class="fas fa-link" style="color: blue; width: 10%; height: 10%;"></i>
                        <p style="color: blue;">Site officiel du DIIAGE</p>

                        <i class="fab fa-linkedin" style="color: blue;"></i>
                        <p style="color: blue;">Linkedin</p>

                    </div>

                    <div class="col-sm-4">
                        <div class="d-flex justify-content-around">
                            <i class="fab fa-facebook" style="color: blue;"></i>
                            <i class="fas fa-map" style="color: blue;"></i>
                        </div>


                    </div>
                    <div class="col-sm-4">
                        <i class="fab fa-instagram" style="color: blue;"></i>
                        <i class="fab fa-twitter" style="color: blue;"></i>


                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-left: 5% !important">
                <h2 class="">A propos</h2>
                <h6 class="row">
                    Retrouvez les dernieres pépites sur notre Webzine.
                </h6>
                <h2 class="row" style="padding-top: 5% !important">
                    Styles
                </h2>
                <ul>
                    <li><a href="">Acid House</a></li>
                    <li><a href="">Ambiant</a></li>
                    <li><a href="">Deep House</a></li>
                    <li><a href="">Disco</a></li>
                    <li><a href="">DownTempo</a></li>
                    <li><a href="">Drum n bass</a></li>
                    <li><a href="">Dum Techno</a></li>
                    <li><a href="">Electro</a></li>
                    <li><a href="">Electro Disco</a></li>
                    <li><a href="">Electro hip hop</a></li>
                    <li><a href="">Electro pop</a></li>
                    <li><a href="">Funky club house</a></li>
                    <li><a href="">House</a></li>
                </ul>
            </div>

        </div>



    </div>

