@{
}

<div class="container-fluid">
    <div class="row gx-4 p-5 justify-content-md-center">
        <div class="col-sm-8">
            <h2 class="border-bottom">Contact</h2>
            <div class="row p-3">
                <h6>C.U.C.D.B - DIIAGE </h6>
                <h6>69 avenue Aristide Briand</h6>
                <h6>21000 Dijon</h6>
                <h6><i class="fas fa-phone-alt"></i> 03 80 77 98 28 </h6>
                <a href="mailto:secretariat@cucdb.fr "> <i class="fas fa-envelope"></i> secretariat@cucdb.fr</a>
            </div>
            <div class="row">
                <h1 class="border-bottom">Suivez-Nous</h1>
                <div class="col-sm-4" style="text-align: center">
                    <a href="http://diiage.cucdb.fr/" target="_blank">
                        <i class="fas fa-link fa-2x" style="color: blue; width: 10%; height: 10%;"></i>
                        <p style="color: blue;">Site officiel du DIIAGE</p>
                    </a>
                    <a href="https://www.linkedin.com/company/diiage/?originalSubdomain=fr" target="_blank">
                        <i class="fab fa-linkedin fa-2x" style="color: blue;"></i>
                        <p style="color: blue;">Linkedin</p>
                    </a>
                </div>
                <div class="col-sm-4" style="text-align: center">
                    <a href="https://fr-fr.facebook.com/diiage/" target="_blank">
                        <i class="fab fa-facebook fa-2x" style="color: blue;"></i>
                        <p style="color: blue;">Facebook</p>
                    </a>
                    <a href="https://www.google.com/maps?channel=trow5&client=firefox-b-d&q=diiage&um=1&ie=UTF-8&sa=X&ved=2ahUKEwic6vawuur0AhUFyoUKHcRmCpwQ_AUoAXoECAIQAw" target="_blank">
                        <i class="fas fa-map fa-2x" style="color: blue;"></i>
                        <p style="color: blue;">Google Maps</p>
                    </a>
                </div>
                <div class="col-sm-4" style="text-align: center;">
                    <a href="https://www.instagram.com/diiage.cucdb/?hl=fr" target="_blank">
                        <i class="fab fa-instagram fa-2x" style="color: blue;"></i>
                        <p style="color: blue;">Instagram</p>
                    </a>

                    <a href="https://twitter.com/diiagecucdb" target="_blank">
                        <i class="fab fa-twitter fa-2x " style="color: blue;"></i>
                        <p style="color: blue;">Twitter</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

