@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="mb-3">Supprimer un style</h2>
<hr />
<p>Etes-vous sûr de vouloir supprimer le style de musique""?</p>
<a href="#" class="btn btn-error text-nowrap col-3 col-md-3 col-sm-3">Supprimer</a>

<a href="">Retour à l'administration des styles</a>