@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model Webzine.WebApplication.Areas.administration.ViewModels.StyleViewModel

<div class=" p-4">
	<h2 class="mb-3">Supprimer un style</h2>
	<hr />
	<div class="ms-4">
		<p class="row ">Etes-vous sûr de vouloir supprimer le style de musique "@Model.Style.Libelle"?</p>
		<a asp-action="Suppression" asp-route-idStyle="@Model.Style.IdStyle" class="row btn btn-danger text-nowrap col-3 col-md-3 col-sm-3 mb-5">Supprimer</a>

		<a class="row text-decoration-none" href="/administration/style">Retour à l'administration des styles</a>
	</div>
</div>