@using Webzine.Entity
@model  Webzine.ViewModels.CommentairesViewModel



<h2>Commentaires</h2>
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Nom</th>
            <th>Commentaire</th>
            <th>Date de création</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Commentaire commentaire in Model.commentaires)
        {
            <tr>
                <td><a>placeholder</a></td>
                <td>@commentaire.Auteur</td>
                <td>@commentaire.Contenu</td>
                <td>@commentaire.DateCreation</td>
                <td><a href="/Admin/Commentaire/Supprimer/@commentaire.IdCommentaire">Supprimer</a></td>
            </tr>
        }
    </tbody>
</table>