@using Webzine.Entity
@model  Webzine.ViewModels.CommentairesViewModel



<h2>Commentaires</h2>
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Nom</th>
            <th>Commentaire</th>
            <th>Date de création</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Commentaire commentaire in Model.Commentaires)
        {
            <tr>
                <td><a asp-area="default" href="/Titre/Titre?idTitre=@Model.Titres.FirstOrDefault(Title => Title.IdTitre == commentaire.IdTitre).IdTitre">@Model.Titres.FirstOrDefault(Title => Title.IdTitre == commentaire.IdTitre).Libelle</a></td>
                <td>@commentaire.Auteur</td>
                <td>@commentaire.Contenu</td>
                <td>@commentaire.DateCreation.ToString()</td>
                <td><a href="/Admin/Commentaire/Supprimer?id=@commentaire.IdCommentaire">Supprimer</a></td>
            </tr>
        }
    </tbody>
</table>