@using Webzine.Entity
@model  Webzine.ViewModels.CommentairesViewModel



<h2>Commentaires</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Titre</th>
            <th class="text-center">Nom</th>
            <th class="text-center">Commentaire</th>
            <th class="text-center">Date de création</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Commentaire commentaire in Model.Commentaires)
        {
            <tr>
                <td class="text-center"><a asp-area="default" href="/Titre/Titre?idTitre=@Model.Titres.FirstOrDefault(Title => Title.IdTitre == commentaire.IdTitre).IdTitre">@Model.Titres.FirstOrDefault(Title => Title.IdTitre == commentaire.IdTitre).Libelle</a></td>
                <td class="text-center">@commentaire.Auteur</td>
                <td class="text-center">@commentaire.Contenu</td>
                <td class="text-center">@commentaire.DateCreation.ToString()</td>
                <td class="d-flex justify-content-center"><a href="/Admin/Commentaire/Supprimer?id=@commentaire.IdCommentaire"><i class="fas fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>