@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860


    @model=Webzine.
*@
@{
}


<h1>Supprimer un commentaire</h1>
<hr/>
<form>
<h3>&Ecirc;tes vous s&ucirc;r de vouloir supprimer ce commentaire?</h3>

@*placeholder: ajouter commentaire à effacer*@

<button type="submit">Supprimer</button> <button>Annuler</button>
</form>

