@{
	
}


<div class="col-12">
	<h2>A propos</h2>
	<p>Retrouvez les dernières pépites <br> sur notre webzine</p>
</div>
<div class="col-12">
	<h2>Styles</h2>
	<ul class="d-flex flex-column col-12">
		@foreach (var style in Model.Styles)
		{
			<li class="col-xxl-12 col-xl-12 col-xl-12 col-md-6 col-sm-6">
				<a class="text-decoration-none" asp-controller="Titre" asp-action="TitresStyle" asp-route-nomStyle="@style.Libelle">@style.Libelle</a>
			</li>
		}
	</ul>
</div>

