/* css général*/

h1 {
    font-size: 3em !important;
    margin-bottom: 3vh !important;
}
h2{

}
span{
    
}
.etoileRequired {
    color: red;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* css de la page titre partie utilisateur */
.divImgChronique {
    min-height: 10em;
    margin-bottom: 4em;
}

.lienDisabled {
    pointer-events: none;
    background-color: #C5C5C5 !important;
}

.imgJaquetteTitre {
    float: right;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
    min-height: 30vh;
    max-height: 30vh;
}

.VideoEcoute{
    width: 100%;
    height: 400px;
    margin-bottom: 4vh;
}

.formCommentaire{
    margin-bottom: 3vh;
}

.formCommentaire h2 {
    margin-bottom: 3vh !important;
}

.iconCommentaire{
    text-align: right;
}

.iconCommentaire i{
    
}
.contact {
    text-align: center;
    margin-bottom: 3em;
    background-color: #F8F9FA;
}
.imPopHome{
    max-height: 33vh;
}

@media screen and (max-width: 550px) {
    .imgJaquetteTitre {
        float: none;
        width: 100%;
        margin-left: 0;
        max-height: 60vh;
    }
}

@media screen and (max-width: 550px){
    .imPopHome{
        max-height: 50vh;
    }
}

/* css partie form admin editer / create */
.formAdmin{
    margin-bottom: 4em;
}


/* css partie suppression admin */
l