/* css général*/

h1 {
    font-size: 3em !important;
    margin-bottom: 3vh !important;
}
h2{

}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* css de la page titre partie utilisateur */
.divImgChronique {
    min-height: 10em;
    margin-bottom: 4em;
}

.imgJaquetteTitre {
    float: right;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
    min-height: 30vh;
    max-height: 30vh;
}

.VideoEcoute{
    width: 100%;
    height: 400px;
    margin-bottom: 4vh;
}

.formCommentaire{
    margin-bottom: 3vh;
}

.formCommentaire h2 {
    margin-bottom: 3vh !important;
}

.iconCommentaire{
    text-align: right;
}

.iconCommentaire i{
    
}
.contact {
    text-align: center;
    margin-bottom: 3em;
    background-color: #F8F9FA;
}
.imPopHome{
    max-height: 33vh;
}
.iconRechercheStyle{
    width: 5em;
    height: 5em;
}

@media screen and (max-width: 550px) {
    .imgJaquetteTitre {
        float: none;
        width: 100%;
        margin-left: 0;
        max-height: 60vh;
    }
}

@media screen and (max-width: 550px){
    .imPopHome{
        max-height: 50vh;
    }
    .respSectionTitre{
        flex-flow: column;
        text-align: center;
    }
        .respSectionTitre p, a {
            margin-bottom: 1em !important;
            offset: none;
        }
}

/* css partie form admin editer / create */
.formAdmin{
    margin-bottom: 4em;
}
.libelleStyle {
    width: 50% !important;
}

@media screen and (max-width: 630px) {
    .tableDisplay {
        display: none !important;
    }
    .libelleStyle{
        width: 100% !important;
    }
}


/* css partie suppression admin */

/* css validation model state */
.field-validation-error {  
    color: #e80c4d;  
    font-weight: bold;  
}  
.field-validation-valid {  
    display: none;  
}  
input.input-validation-error {  
    border: 1px solid #e80c4d;  
}  
.validation-summary-errors {  
    color: #e80c4d;  
    font-weight: bold;  
    font-size: 1.1em;  
}  
.validation-summary-valid {  
    display: none;  
} 