@model Webzine.ViewModels.RechercheViewModel
    <h1>R&eacute;sultats de la recherche pour "@Model.SearchedItem"</h1>
    <hr/>
    <h2>Artistes</h2>
    <content>Aucun artiste trouv&eacute;</content>
    <h2>Titres</h2>
    <content>Aucun titre trouv&eacute;</content>